{% extends '//base.html.twig' %}



{% block content %}

<div class="section section-our-projects yellowBlock">
    <h1>Connexion</h1>



<div class="row">
    <div class="col-md-6 col-md-offset-3" style="background-color:white;border-radius:8px;padding:40px 40px 0 40px;text-align:left;">
    {# S'il y a une erreur, on l'affiche #}

    {% if error %}

        <div class="alert alert-danger">{{ error.message }}</div>

    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route « login_check » #}
    <form action="{{ path('loginCheck') }}" method="post">

        <label for="username">Login :</label>

        <input type="text" id="username" name="_username"  class="form-control"/>

        <label for="password">Mot de passe :</label>

        <input type="password" id="password" name="_password"  class="form-control"/>

        <a style="color:#1d5487;font-style:italic;" href = "{{ path('requestResetPassword') }}">Mot de passe oublié</a>
        <br />
        <br />
        <br />

        <input type="submit" value="Connexion" class="form-control btn btn-fill btn-rose" style="background-color:#ffbb00;" />

    </form>
    </div>
    </div>
    </div>
{% endblock %}

