

/*      light colors         */
html {
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    background-color: #ffbb00;
}
@media (min-width: 58em) {
    body {
        font-size: 100%;
    }
}
@media (min-width: 115em) {
    body {
        font-size: 110%;
    }
}
@media (min-width: 125em) {
    body {
        font-size: 115%;
    }
}
@media (min-width: 145em) {
    body {
        font-size: 120%;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
        font-feature-settings: normal;
        /* Internet Explorer fix */
    }
}

h2 {
    font-size: 40px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.content-blog p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", "Times New Roman", serif;
    color: #000000;

}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
.content-blog p a {
    font-size: inherit;
    font-family: "Poppins", "Times New Roman", serif;
    color: #113441;
}

.content-blog {
    padding: 30px 0;
}
.content-blog p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 27px;
}

h1, .h1 {
    /*font-size: 3em;*/
    font-size:70px;
    line-height: 1.213483146em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom:50px;
}

h2, .h2 {
    /*font-size: 2.4em;*/
    font-size: 40px;
    line-height: 60px;
    margin: 0.4em 0;
    /*font-weight: bold;*/
}

h3, .h3 {
    font-size: 1.61em;
    line-height: 1.05em;
    margin-top: 15px;
    margin-bottom: 15px;
}

h4, .h4 {
    font-size: 1.3em;
    line-height: 1.714285714em;
}

h5 {
    font-size: 1.2em;
}

p, li{
    font-size: 18px;
    /*font-size: 16px;*/
    line-height: 27px;
    font-weight: 300;
    margin: 0 0 .75em;
    color: #000000;
}

p, li,
label,
.btn,
.form-control,
.title h5,
.navbar,
.brand,
.btn-simple,
a,
.td-name,
td,
small,
.media h5,
.subtitle {
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #113441;
    /*opacity: .7;*/
    /*font-size: 14px;*/
    font-size: 18px;
    font-weight:300;
    line-height:27px;

}
a:hover {
    color: #FFFFFF;
    /*opacity: 1;*/
}

.title {
    text-align: center;
    margin-bottom: 50px;
}
.title p {
    color: #113441;
}

.section {
    padding: 50px 0;
    position: relative;
    background-color: #FFFFFF;
}

.section {
    position: relative;
}

.section .headSection {
    padding: 20px 0;
}

.section-our-projects-fluid .row [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.section-our-projects-fluid .row [class^="col-"] .project {
    margin-bottom: 0;
}

.section-our-projects .project {
    margin-bottom: 30px;
    /*min-height: 320px;*/

}

.section-our-projects {
    min-height: 448px;

}

.section-our-projects .project {
    margin-bottom: 30px;
    /*min-height: 320px;*/

}

.section .title-area {
    /*max-width: 760px;*/
    /*min-height: 320px;*/
    margin: 0 5% 70px;
    display: block;
    padding: 0 15px;
    text-align: center;
}

.section [class*="col-"] .title-area {
    padding: 0;
}

.section .title-area .description {
    text-align: justify;
    font-size: 18px;
    color: #FFFFFF;
    line-height:27px;
}

.descriptionText {
    text-align: justify;
    font-size: 18px;
    color: #FFFFFF;
    line-height:27px;
}

.yellowBlock .title-area .description {
    color: #000000;
}


.separator {
    color: #ffffff;
    margin: 0 auto 20px;
    max-width: 240px;
    text-align: center;
    position: relative;
}
.separator:before, .separator:after {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 10px;
    border: 1px solid #ffffff;
}
.separator:before {
    float: left;
}
.separator:after {
    float: right;
}



.yellowBlock .separator {
    color: #000000;
}

.yellowBlock .separator:before, .yellowBlock .separator:after {
    color: #000000;
    border: 1px solid #000000;

}





.btn,
.navbar .navbar-nav > li > a.btn {
    /*border-width: 1px;*/
    background-color: #FFFFFF;
    font-weight: 300;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.2em;
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
    padding: 8px 5px;
    /*border-color: #888888;*/
    color: #000000;
    /*text-transform: uppercase;*/
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn.active, .open >
.navbar .navbar-nav > li > a.btn.dropdown-toggle {
    background-color: transparent;
    color: #000000;
    border-color: #ffffff;
}
.btn:disabled, .btn[disabled], .btn.disabled,
.navbar .navbar-nav > li > a.btn:disabled,
.navbar .navbar-nav > li > a.btn[disabled],
.navbar .navbar-nav > li > a.btn.disabled {
    background-color: transparent;
    border-color: #ffffff;
}
.btn.btn-fill,
.navbar .navbar-nav > li > a.btn.btn-fill {
    color: #000000;
    background-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn.btn-fill:hover, .btn.btn-fill:focus, .btn.btn-fill:active, .btn.btn-fill.active, .open > .btn.btn-fill.dropdown-toggle,
.navbar .navbar-nav > li > a.btn.btn-fill:hover,
.navbar .navbar-nav > li > a.btn.btn-fill:focus,
.navbar .navbar-nav > li > a.btn.btn-fill:active,
.navbar .navbar-nav > li > a.btn.btn-fill.active, .open >
.navbar .navbar-nav > li > a.btn.btn-fill.dropdown-toggle {
    background-color: #113441;
    color: #ffffff;
    border-color:#113441;
    /*height:50px;*/
}
.btn.btn-fill .caret,
.navbar .navbar-nav > li > a.btn.btn-fill .caret {
    border-top-color: #FFFFFF;
}
.btn .caret,
.navbar .navbar-nav > li > a.btn .caret {
    border-top-color: #FFFF;
}
.btn:hover, .btn:focus,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important;
}
.btn:active, .btn.active, .open > .btn.dropdown-toggle,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn.active, .open >
.navbar .navbar-nav > li > a.btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}
.btn.btn-icon,
.navbar .navbar-nav > li > a.btn.btn-icon {
    padding: 10px;
}

.headSection {
    text-align : center;
    background-color:#ffbb00;
    height:200px;
    padding-top : 30px;
}

@media (max-width: 930px) {
    .section.section-our-team .title-description,
    .section.section-we-do .title-description {
        max-width: 550px;
        margin: 0 auto;
    }
}

.section-our-team .text-area {
    padding-bottom: 0;
}


.text-area {
    padding-bottom: 30px;
}

.section .text-area {
    padding: 4.375em 0;
    position: relative;
    z-index: 3;
    display: block;
}
.section .text-area .description,
.section .text-area .description p {
    font-size: 16px;
    color: #777777;
}

.card p {
    min-height: 0;
}


.card {
    /*background: #fff;*/
    /*box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 6px;*/
    margin-bottom: 30px;
    -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

/*.card a {*/
    /*opacity: .85;*/
/*}*/

.card:hover .header {
    opacity: 1;
}
.card h2 {
    margin-top: 0;
}
.card img {
    max-width: 100%;
}
.card .header img {
    border-radius: 4px;
}
.card .image-header,
.card .header img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.card .image-header.image-full,
.card .header img.image-full {
    border-radius: 4px;
}
.card .row .image-header,
.card .row .header img {
    width: 100%;
    border-radius: 4px;
}
.card .btn {
    margin-top: 15px;
}
.card > img {
    border-radius: 4px;
}
.card .title {
    margin-bottom: 5px;
    color: #333333;
}
.card .description {
    font-size: 13px;
}


.card-member {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.card-member .content {
    padding: 25px;
    /*border: 2px solid rgba(17, 52, 65, .4);*/
    border-radius: 8px;
    margin-right: 15px;
    margin-left: 15px;
    background-color:#113441;
    color:#FFFFFF;

}
.card-member > img {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    width: 120px;
    margin: 0 auto;
}


.card-plain {
    border-radius: 0;
    box-shadow: none;
    background: none;
}
.card-plain .image-header {
    border-radius: 4px;
}

.card:not(.card-plain):not(.card-price):hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    /*box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);*/
}
.card .subtitle-black {
    color: #141414;
}

.avatar {
    border: 3px solid #c5a47e;
    border-radius: 50%;
    overflow: hidden;
    max-width: 110px;
    margin: 0 auto;
}

.oneArticle .avatar {
    min-width:180px;
}

.avatar img {
    width: 100%;
    height: auto;
}

.avatar-danger {
    border-color: #113441;
}

.card-member .avatar {
    margin-top: 10px;
}

.img-circle.img-profile {
    width: 120px;
    height: 120px;
}

/*p.description {*/
    /*font-size: 16px;*/
    /*color: #777777;*/
/*}*/

a:hover, a:focus {
    text-decoration: none;
}

/*.description {*/
    /*margin-bottom: 50px;*/
/*}*/

.big-text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    /*color: #113441;*/
}

.small-text {
    color: #ffffff;
    text-align: center;
}

.card-member .content {
    height: 400px;
    margin-left:auto;
    margin-right:auto;
}

@media (max-width: 1200px) {
    .card-member .content {
        width: 260px;
    }
}

.yellowBlock {
    background-color: #ffbb00;
    color: #000000;
    padding-bottom : 70px;
    padding-top:0px;
    text-align:center;
}


.yellowBlock p {
    color: #000000;
}

.yellowBlock h2 {
    color: #000000;
}

.yellowBlock h1 {
    color: #000000;
}

.whiteBlock {
    background-color: #FFFFFF;
    color: #000000;
;
    padding-bottom : 70px;
}


.beigeBlock {
    background-color: #F9E9BE;
    color: #000000;
    padding-bottom : 70px;

}

.beigeBlock h2 {
    color: #000000;
}

.blueBlock {
    background-color: #113441;
    color: #FFFFFF;
    padding-bottom:70px;
    padding-top: 0px;
}

.blueBlock h2 {
    color: #FFFFFF;
}

.blueBlock h1 {
    color: #FFFFFF;
    text-align: center;
}


.blueBlock p {
    color: #FFFFFF;
    text-align: center;
}


.blueBlock .description p {
    color: #FFFFFF;
    text-align: justify;
}

.greyBlock {
    padding:50px 20px 20px;
    background-color: #212121;
    color: #FFFFFF;
}

.greyBlock a {
    color: #ffffff;
    font-size:18px;
    font-weight:normal;
}

.greyBlock li {
    display: inline;
    margin-right: 10px;
    color: #ffffff;
}


.team .flip-container {
    margin-left:auto;
    margin-right:auto;
}

.game .flip-container {
    margin-left:auto;
    margin-right:auto;
}


.imgService {
    margin-bottom : 30px;
}



.generalSpeBlock {
    font-size:22px;
}



/*.dropdown-toggle.btn:hover {*/
    /*color:pink;*/
/*}*/
.open.dropdown-menu a {
    box-shadow:none;
    color:#bbb;
    font-size:18px;
}

.open.dropdown-menu a:hover {
    color:#113441;
}


input.form-control::placeholder {
    font-size:18px;
}

#textAreaDevis::placeholder {
    font-size:18px;

}


#textAreaDevis {
    margin-top:40px;

}

.blueBlock h3{
    color:#ffffff;
}

.whiteBlock p {
    color: #000000;
}

.blogResume p {
    text-align: left;
}

.blogTitleText {
    position: relative;
    text-align: center;
    padding: 25px;
    background-color:white;
}

.blogArticles {
    padding-top:50px;
    min-height:500px
}

.blogArticles p {
    color:#000000;
}


.blogArticles h2 {
    color:#000000;
}

.team p {
    color:#ffffff;
}

.team h3 {
    color:#ffffff;
    padding-top:10px;
}

.team {
    text-align: center;
}

.team2 p {
    color:#000000;
}

.team2 h3 {
    color:#000000;
    padding-top:10px;
}

.team2 {
    text-align: center;
}


.authorMail {
    margin-top:40px;
}

.blogResume {
    min-height:400px;
    color:#000;
    text-align:left;
    padding:80px;
    /*margin-bottom:50px;*/
}

.devisForm p {
    color:#000000;
    font-size:18px;
    margin-bottom:0;
}

.devisFormCont {

}



.accessButton {
    margin-bottom:30px;
    min-height:70px;
}

@media (max-width: 461px) {
    .accessButton {
        min-height:140px;
    }
}



.adminSpace .btn-owl{
    width: 200px;
}

.speDescriptive {
    text-align: center;
}

.divServiceBlock {
    text-align: center;
}

/*.serviceBlock {*/
    /*margin-bottom: 50px;*/
/*}*/

.divCenter2Btn {
    width:400px;
    margin:auto;
    height:60px;
}

.speDiv h2  {
    margin-left: 20px;
}

.homeHead {
    height:320px;
    margin:0;
}

.avatarRef {
    margin-bottom: 40px;
}


.menuCircle {
    z-index:81;
}


.blueHeadImg {
    background-color:#113441;
    text-align:left;
    margin-left:50px;
}


.articleAvatar {
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

.articleAvatar .avatar {
     margin-top: 50px;
}

.articleAvatar .big-text {
    margin-top: 30px;
}

.networksIconBlock {
    min-height:400px;
}

.networksIconDiv {
    padding-top:50px;
}

.btn-rose {
    height: 41px;
}

.formBlock .btn.btn-rose:hover {
    height: 41px;
}

.respCivility {
    text-align: left;
}

#prospect_information_respCivility_0 {
    padding-right: 20px;
}

#prospect_information_respCivility {
    background-image: none;
}

.menuSelect {
    font-size : 18px;
    color : #999;
    margin-bottom:10px;
    height: 35px;
    /*position: absolute;*/
    top: 0;
    padding-top: 0;
    margin-top: 0;
}

.option {
    color : #999;

}

.menuSelect:focus {
    color:#999999;
}

#formControlSelect1 {
    margin-top:25px;
}

#formControlSelect2 {
    margin-top:15px;
    margin-bottom: 30px;
}


.textarea::placeholder {
    font-size:18px;
    color: #999999;

}

.divProspect1 {
    background-color : white;
    padding : 20px;
    border-radius : 10px;
    margin : 20px;

}

.divProspect1 p {
    color : #888;
}

.cieName {
    font-size: 28px;
    color: #113441;
}

.cieText {
    color: #113441;
}

.divProspect2 {
    background-color : #113441;
    padding : 20px;
    border-radius : 10px;
    margin : 20px;

}

.divProspect2 p {
    color : #888;
}

.cieText p {
    color : #fff;
}

.hidden {
    display:none;
}

/*.prospectFollowUp {*/
    /*padding:20px;*/
    /*!*border:1px solid #888888;*!*/
    /*font-size : 18px;*/
    /*margin:20px 0;*/

/*}*/

.prospectFollowUp span {
    margin-right : 10px;
}

.prospectFollowUp textarea {
    vertical-align : top;
    font-size : 18px;
}

.prospectFollowUp select {
    font-size : 18px;
    min-height: 40px;
    color:#888888;
}


.prospectFollowUp .btn-primary {
    vertical-align : top;
    border-color:white;
    background-color:#fff;

}

.prospectFollowUp .inputDate {
    border-color:#dddddd;
    margin-top: 20px;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    color : #999999;
}

fieldset.scheduler-border {
    border: solid 1px #999999 !important;
    /*padding: 0 10px 10px 10px;*/
    border-bottom: none;
    padding:0 20px 20px 20px;
    /*border:1px solid #888888;*/
    font-size : 18px;
    margin:30px 0;
}

.prospectTitle {
    text-align: center;
    padding-bottom:50px;
}

.prospectTitle h1 {
    color: white;
}

.formArticle input {
    font-size:18px;
}

.formArticle p {
    font-size:18px;
}

.formSection {
    /*margin-top:50px;*/
    margin-bottom:50px;
}

.btn {
    height : 41px;
    width: 266px;
}

.upImageP {
    color : #888888;
    font-size:14px;
}

.upImage {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*input[type="file"] {*/
    /*display: block;*/
/*}*/



.formArticle {
    font-size : 18px;
    font-family : "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color : #949494;
}

.formArticle .simpleLabel input {
    height : 50px;

}

#article_categories {
    border: none;
    -webkit-box-shadow:none;
}

#article_categories label {
    margin-right: 15px;
    margin-left: 5px;
    font-size: 18px;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #949494;
}

.articleText {
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn-owl.accessBtn {
    width:170px;
}

.description p {
    font-size : 18px;
}

.divDescription {
    margin-top : 50px;
}

.flip {
    -webkit-perspective: 800;
    position: relative;
    margin: 50px auto;
    height: 216px;
    width: 177px;
    float: left;
    margin: 5px;
}

.flip .gameCard.flipped {
    -webkit-transform: rotatey(-180deg);
}

.flip .gameCard.flippedOk {
    -webkit-transform: rotatey(-180deg);
}

.flip .gameCard {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.flip .gameCard .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
}

.flip .gameCard .front {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.flip .gameCard .back {
    -webkit-transform: rotatey(-180deg);
    cursor: pointer;
}


.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
     /*margin-left: auto; margin-right: auto; */
}

.cardDiv {
    margin-top:20px;
    margin-bottom: 20px;
}

@media (max-width: 994px) {

    .flip {
        width: 130px;
        height: 159px;
    }

    .gameImg {
        width: 130px;
        height: 159px;


    }

    .flip .gameCard {
        height: 159px;
        width: 130px;
    }

    .flip .gameCard .face2 {
        height: 159px;
        width: 130px;

    }

    .cardDiv {
        margin-top:15px;
        margin-bottom: 15px;
    }

}

@media (max-width: 774px) {

    .flip {
        width: 95px;
        height: 116px;
    }

    .gameImg {
        width: 95px;
        height: 116px;
    }

    .flip .gameCard {
        width: 95px;
        height: 116px;
    }

    .flip .gameCard .face {
        /*width: 95px;*/
        height: 116px;
    }
    .cardDiv {
        margin-top:10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 254px) {

    .flip {
        width: 65px;
        height: 79px;
    }

    .gameImg {
        width: 65px;
        height: 79px;
    }

    .flip .gameCard {
        width: 65px;
        height: 79px;
    }

    .flip .gameCard .face2 {
        /*width: 65px;*/
        height: 79px;
    }

    .cardDiv {
        margin-top:5px;
        margin-bottom: 5px;
    }

}

@media (max-width: 470px) {
    .col-xs-3 {
        width: 33%;
    }
}

@media (max-width: 311px) {
    .col-xs-3{
        width:50%;
    }

}

/*.socialImg img {*/
    /*width:50px;*/
    /*height:50px;*/
/*}*/

@media (max-width: 471px) {
    .socialImg img {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 470px) {
    .networksIconBlock .col-xs-3, .networksIconBlock2 .col-xs-3 {
        width: 25%;
    }
}

/*@media (max-width: 311px) {*/
    /*.networksIconBlock .col-xs-3{*/
        /*width:50%;*/
    /*}*/

/*}*/

.oneArticle p {
    text-align
    :justify;
}


@media (max-width: 674px) {
    .logoOwl img {
        width:71px;
    }

    h1 {
        font-size: 55px;
    }

    .container {
        padding-right:0;
        padding-left:0;
    }
}

@media (max-width: 930px) {

    p, li {
        font-size: 15px;
        line-height: 23px;
    }

    .big-text {
        font-size: 15px;
        line-height: 23px;
    }

    .open.dropdown-menu a {
        font-size: 15px;
        line-height: 23px;
    }

    #textAreaDevis::placeholder {
        font-size: 15px;
        line-height: 23px;
    }

    input.form-control::placeholder {
        font-size: 15px;
        line-height: 23px;
    }

    .dropdown-toggle.btn {
        font-size: 15px;
        line-height: 23px;
    }

    .btn,
    .navbar .navbar-nav > li > a.btn {
        font-size: 15px;
        line-height: 23px;
    }

    .section .title-area .description {
        font-size: 18px;
        line-height: 23px;
    }

    .title-area {
        text-align: justify;

    }

    .content-blog p {
        font-size: 15px;
        line-height: 23px;
    }

    a {
        font-size: 15px;
        line-height: 23px;
    }

    p {
        font-size: 15px;
        line-height: 23px;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .speDisplay h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .form-check, label {
        font-size: 15px;
        line-height: 23px;
    }

    .blogResume {
        padding: 40px;
    }

    .row {
        text-align: center;
    }

    .devisForm {
        font-size:16px;
    }

    .description p {
        font-size: 15px;
    }

    .noActive .active {
        transform: none;
    }
}


.formBlock .btn {
    width:220px;
    border-radius:4px;
    color:#000000;
}





@media (max-width: 1006px) {


    .speClose {
        text-align : center;
    }
    .speTitle {
        text-align : center;
    }
    /*.speImgDisplay {*/
    /*width: 200px;*/
    /*}*/

}

@media (max-width: 931px) {
#prospect_information_prospect_information::placeholder {
    font-size:15px;
    }
}


#my_osm_widget_map { /* use the same name as <div id=""> */
    width: 100%; /* important! if you need full width display */
    height: 600px;
    margin: 0;
    border-radius: 5px;
    /* ... */
}

.section-address a {
    font-size: 18px;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom : 60px;
}


.section-address li:hover {
    background:transparent;
}

.section-address .glyphicon {
    font-size: 30px;
    margin-bottom : 60px;
    margin-right:20px;
}

textarea#form_message.form-control.textarea {
    height:200px;
}

a.lastActionBtn:hover {
    color: #fff;

}

/*.speDescriptive img {*/
    /*margin-bottom : 40px;*/
    /*margin-top : 40px;*/
    /*text-align: center;*/

/*}*/

.adminBtn {
    padding:30px;
}

.mentions p, .mentions h3 {
    color: #000000;
}
