{% extends '//base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}


{% block content %}


    <div class="section yellowBlock section-our-team">
        <!--<div class="text-area">-->
        <h2>Conditions générales d'utilisation</h2>
    </div>
    <div class="team"  style="text-align:center;margin-top:50px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="text-align:left;margin-bottom:70px;">


            </div>

        </div>

    </div>

{% endblock %}
