{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}


{% block content %}


    <div class="section yellowBlock section-our-team">
        <!--<div class="text-area">-->
        <h2>Conditions générales de vente</h2>
        <div class="separator separator-danger">♦</div>

    </div>
    <div class="team mentions cgv">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align:justify;margin-bottom:70px;">

                {#<div class="container mentions">#}

                <div>
                    <h3>Article 1 – L’offre de service proposée par Le Hibou qui Geek</h3>
                <p>Notre offre s’articule autour de quatre phases :</p>
                <ol>
                    <li>La phase conception consistant dans la définition de votre stratégie digitale</li>
                    <li>La phase production consistant dans la mise en place des outils de communication</li>
                    <li>La phase diffusion de contenus consistant dans l’animation de vos médias</li>
                    <li>La phase conversion consistant à transformer le visiteur en prospect puis en client puis en ambassadeur</li>
                </ol>
                    <p>Ces phases sont constitutives de notre stratégie marketing digitale. Vous êtes parfaitement libre de souscrire des prestations relevant de l’une seulement de ces phases.</p>
            </div>
            <div>
                <h3>Article 2 – Acceptation des conditions générales</h3>
                <p>Vous déclarez avoir pris connaissance des présentes conditions générales de prestations de services (ci-après le « Conditions Générales ») et les avoir acceptées sans réserve avant de passer commande en retournant le devis ou l’offre que nous vous avons faite. La validation de la commande vaut donc acceptation sans restriction ni réserve des présentes Conditions Générales. Les Conditions Générales déterminent les conditions contractuelles applicables à la fourniture de prestations de services que nous proposons à nos clients. .</p>
            </div>
            <div>
                <h3>Article 3 – Devis ou bon de commande</h3>
                <p>La prestation attendue donne lieu à l’établissement préalable d’un devis descriptif des travaux à exécuter précisant leur nature et leur objet. Pour confirmer votre commande de manière ferme et définitive, vous devez nous retourner le devis signé avec votre cachet et la mention « Bon pour accord ». Le devis régularisé pourra être retourné par courriel le cas échéant. De même, la prestation attendue peut être fixée dans un bon de commande qui sera retourné par vos soins avec votre cachet et la mention « bon pour accord ». Lorsqu’un devis établi par Le Hibou qui Geek ou un bon de commande est accepté par vos soins, les conditions particulières de celui-ci viennent modifier ou compléter les Conditions Générales. Toutes les prestations non définies dans le devis que vous aurez régularisé ou dans le bon de commande signé devront faire l’objet d’un devis complémentaire que nous établirons suivi de votre acceptation expresse et préalable. Sauf convention expresse entre nous, tout devis qui vous est proposé par Le Hibou qui Geek est valable pendant 15 jours à compter de sa date d’émission. .</p>
            </div>
            <div>
                <h3>Article 4 – Collaboration</h3>
                <p>4.01. Nous vous accompagnons dans votre stratégie marketing digitale dans une logique collaborative active et de co-création. Afin de faciliter la bonne conduite du projet et de vous associer à chaque étape de celui-ci, une collaboration étroite entre nous est essentielle. Cette collaboration implique notamment un échange régulier et spontané d’informations, de documents qui serait utile à la bonne exécution du projet et un suivi régulier de l’état d’avancement du projet.</p>
                <p>A ce titre, le « kick-off meeting » ou réunion de lancement est une étape indispensable à la réussite du projet dès lors qu’elle va permettre de rappeler les missions confiées, les objectifs du projet, le budget alloué et de fixer le planning et les étapes clefs du projet. Un mail de compte-rendu sera adressé aux différentes parties. De même dans une logique d’échange et de travail collaboratif, un mail régulier (hebdomadaire ou mensuel selon les projets) sera adressé par Le Hibou qui Geek aux différentes parties du projet pour faire le point de l’état d’avancement de celui-ci d’un point de vue du planning, du budget et de votre satisfaction. L’absence de réponse de votre part vaudra validation des termes du mail. Les principes de plaisir, de partage de connaissance, de formation de vos équipes, d’aide au succès de votre projet sont au coeur de l’action du Hibou qui Geek.</p>
                <p>4.02. Nous nous engageons réciproquement à désigner un interlocuteur unique, habilité à les représenter pour l’exécution de la relation contractuelle et chargé d’assurer leurs relations, et à en informer l’autre. Nous serons chacun libre de remplacer notre interlocuteur à tout moment au cours de la durée de la relation contractuelle sous réserve d’en informer préalablement l’autre partie par tout moyen.</p>
                <p>4.03. Les délais indiqués dans nos devis sont des délais indicatifs et sont comptabilisés en jours ouvrés de travail. Est entendu par “jour ouvré de travail” les journées effectivement consacrées à la mission confiée, qu’elles soient consécutives ou non.</p>
                <p>4.04. Nous convenons ensemble que pour chaque livrable objet du contrat, et sauf disposition contraire dans le devis, vous pourrez demander la modification des travaux qui vous sont soumis dans la limite de deux retours pour complément de travail sur chaque livrable. Au-delà, si vous souhaitez faire apporter plus de modifications aux livrables qui vous ont été soumis, les travaux supplémentaires feront l’objet d’une facturation complémentaire. </p>
            </div>
            <div>
                <h3>Article 5 – Engagements de Le Hibou qui Geek</h3>
                <p>Nous nous engageons à apporter tout le soin et toute la diligence nécessaires à la fourniture de prestations de qualité conformément aux usages de la profession et à l’état de l’art. Nous ne répondons que d’une obligation de moyen sauf disposition expresse contraire dans le devis ou le bon de commande. Nous nous engageons à accomplir les prestations confiées en collaboration active avec vous. Nous nous engageons à vous informer de manière régulière (hebdomadaire ou mensuelle selon les projets) de l’état d’avancement du projet d’un point de vue du planning, du budget et de la satisfaction.</p>
            </div>
                <div>
                <h3>Article 6 : Vos engagements</h3>
                <p>Sous réserve de la complète exécution par nos soins des obligations qui nous incombent, vous vous engagez expressément à :</p>
                <ul>
                    <li>Communiquer l’ensemble des informations et contenus nécessaires à la bonne exécution de la mission par Le Hibou qui Geek ainsi que les explications associées à ces informations et contenus</li>
                    <li>Effectuer le paiement des prestations à Le Hibou qui Geek</li>
                    <li>Nous prévenir de toute anomalie ou fait susceptible de compromettre la bonne exécution des prestations qui seraient portés à votre connaissance. </li>
                </ul>
                <p>Gage de la réussite du projet, vous êtes associé à chaque phase de celui-ci et responsable de l’adéquation du projet à vos besoins. Aussi, tout au long de la relation contractuelle, vous êtes co-responsable du bon déroulement du projet et, dans un esprit de collaboration, mettez tout en œuvre pour trouver des solutions aux difficultés rencontrées dans l’intérêt commun du projet. .</p>
            </div>
            <div>
                <h3>Article 7– Recette des livrables</h3>

                <p>Dans le prolongement du processus collaboratif, la recette doit vous permettre de contrôler la prestation que vous nous avez confiée par rapport aux documents contractuels. Vous vous engagez à procéder à la validation des livrables dans les temps définis au planning ou au maximum dans un délai de 4 (quatre) semaines. Le procès-verbal de recette confirme ou non la validation selon les critères définis aux documents contractuels. Dans l’hypothèse d’anomalies, nous les consignons ensemble dans le procès-verbal de recette signé par vous et par nous. Nous procédons aux corrections requises dans un délai de 30 jours suivant signature du procès-verbal de recette et à la livraison des livrables corrigés qui font l’objet d’un nouveau contrôle contradictoire et d’un nouveau procès-verbal de recette signé par les parties. Dans cette phase de recette, afin de faciliter celle-ci, nous convenons d’ores et déjà que nous pourrons organiser à tout moment un atelier de recette permettant de parvenir à une recette définitive dans les meilleurs délais. Dans tous les cas de figure, si vous n’avez émis aucune réserve dans le délai imparti, le livrable est considéré comme validé.</p>
                <h3>Article 8 : Conditions financières</h3>

                <p>8.01. Prix</p>
                <p>En contrepartie de la bonne et complète exécution des Prestations, vous nous règlerez, pour chaque prestation, le prix défini au devis ou au bon de commande. Les prix sont libellés en euros et calculés hors taxes ; ils seront majorés du taux de TVA en vigueur applicable au jour de la commande .</p>
            </div>
            <div>
                <p>8.02. Délai de paiement</p>
                <p>Toute somme due par vos soins au titre de toute facture de prestations devra être payée à réception. </p>
                <p>8.03. Modalités de paiement</p>
                <p>Toute somme due par vos soins au titre de toute facture de prestations est payable par vous, à votre seule convenance par chèque ou par virement bancaire ou postal. Toute commande sera soumise au versement d’un acompte de 50 (cinquante) % du montant global du devis ou du bon de commande. L’exécution des travaux commencera après encaissement dudit acompte.Le solde doit être payé à acceptation définitive du livrable réalisé lors de la prestation. </p>
            </div>
            <div>
                <p>8.04. Retard ou défaut de paiement<p>
                <p>En cas de retard de paiement, total ou partiel, seront exigibles : <p>
                    <ul>
                        <li>Des pénalités de retard au taux contractuel de 20,00%</li>
                        <li>L’indemnité forfaitaire de 40 euros au titre des frais de recouvrement</li>
                <p>Nous nous réservons la faculté de suspendre l’exécution de nos prestations 8 (huit) jours après mise en demeure restée infructueuse. </p>
                <p>Le point de départ de calcul est fixé à l’échéance de facturation, à savoir au lendemain de l’émission de la facture.</p>
            </div>
            <div>
                <p>8.05. Clause de dédit</p>
                <p>En cas de résiliation anticipée de la commande en cours de réalisation de la part du client, quelle qu’en soit la cause et quelque soit l’état d’avancement du projet, l’acompte versé sera conservé et la totalité du projet sera facturé (montant du devis). Cette facturation est ainsi constitutive d’une clause de dédit. </p>
                <p>En cas de blocage d’un projet imputable au Client pour une durée supérieure à 30 jours, le projet sera réputé comme résilié à l’initiative du client. La clause de dédit s’appliquera dès lors de plein droit.</p>
            </div>
            <div>
                <p>8.06. Détermination du prix en fonction d’un taux journalier/homme</p>
                <p>Nous convenons ensemble que le ou les prix proposé(s) au devis ou au bon de commande est (sont) déterminé(s) selon un taux moyen journalier de 800 euros HT par jour et par homme à l’exclusion des prestations d’achat de licences de logiciel et d’achat d’espace média dont le prix est forfaitisé. Dans l’hypothèse d’un dépassement de l’évaluation faite au devis, nous convenons ensemble de déterminer de bonne foi un devis complémentaire pour terminer la phase en question.</p>
            </div>
            <div>
                <h3>Article 9 – Durée</h3>
                <p>Les Conditions Générales entreront en vigueur à la date de signature du devis ou du bon de commande, s’appliqueront pour la durée de l’exécution de la prestation et prendront fin dès l’accomplissement de la mission que vous nous aurez confiée. Les dispositions des articles 13, 14, 15 continueront à s’appliquer après la terminaison de la relation contractuelle.</p>
            </div>
            <div>
                <h3>Article 10 – Dispositions diverses sur des prestations informatiques fournies par Le Hibou qui Geek</h3>
                <p>10.01. Noms de domaine</p>
                <p>Parmi les prestations proposées par Le Hibou qui Geek, vous pourrez nous mandater pour effectuer pour votre compte les démarches pour la réservation, et/ou l’enregistrement, et/ou le maintien d’un nom de domaine comportant votre marque ou votre dénomination sociale, ou un signe distinctif vous appartenant, dans la limite des disponibilités et du respect des droits antérieurs des tiers, dont vous devez effectuer préalablement la recherche et qui sera expressément déposée au nom et pour votre compte et demeurera votre propriété, sous votre seule responsabilité, sous votre administration (contact administratif) mais sous le contrôle technique de Le Hibou qui Geek (contact technique). Vous demeurez seul responsable du choix du nom de domaine, de la recherche préalable sur le droit antérieur éventuel détenu par des tiers et vous êtes seul responsable vis-à-vis de ces tiers. Vous nous garantirez et interviendrez volontairement en garantie en cas d’action judiciaire, ou de recherche de responsabilité en général, intentée par un tiers à notre encontre à quelque titre que ce soit, à propos du ou des noms de domaine en question. En cas de résiliation ou suspension de la relation contractuelle, les redevances et frais de transfert de délégation seront à votre charge. </p>
            </div>

                <div>
                    <p>10.02. Hébergement</p>
                    <p>Parmi les prestations proposées par Le Hibou qui Geek, vous pourrez nous confier le soin de faire héberger votre site par une société tierce. La prestation d’hébergement comprend l’ensemble des prestations visées au devis ou au bon de commande (espace disque, trafic mensuel, prix). Nous nous engageons à apporter tout le soin et la diligence nécessaires à la fourniture d’un service de qualité conformément aux usages de la profession et à l’état de l’art. Nous ne répondons que d’une obligation de moyens. Nous nous réservons le droit de modifier à tout moment les caractéristiques de nos infrastructures techniques et le choix de nos fournisseurs, sous réserve que ces modifications permettent d’offrir des performances au moins équivalentes à celles fournies au moment de la signature du devis ou bon de commande. Nous vous informerons, par courrier électronique, dans la mesure du possible, dans un délai raisonnable d’une éventuelle interruption de service par notre fournisseur. Notre responsabilité ne saurait être engagée si le serveur de notre fournisseur était indisponible pour des raisons de force majeure, incluant notamment la défaillance de longue durée du réseau public de distribution d’électricité, la défaillance du réseau public des télécommunications, la perte de connectivité Internet dues aux opérateurs publics et privés dont dépend le fournisseur. En cas d’incident grave portant atteinte au bon fonctionnement de la plateforme d’hébergement, nous nous efforcerons de prendre toute mesure nécessaire auprès de notre fournisseur de sorte d’assurer le maintien du service. Nous ne sommes pas responsables de préjudices tels que préjudice commercial, perte de clientèle, perte de commande, ou perte d’image de marque. En tout état de cause, le montant des dommages et intérêts auquel nous pourrions être condamnés est limité au montant annuel du contrat d’hébergement conclu. Vous êtes entièrement et seul responsable du contenu des pages diffusées sur votre site. A ce titre, et notamment, vous vous engagez à ne pas faire héberger de sites proposant des contenus racistes ou illégaux et ceux ayant des liens hypertextes vers ce type de sites ou encore des contenus dont le caractère serait diffamatoire ou injurieux ou encore des sites à caractère pornographique. Vous êtes informé que les publications constituent notamment des œuvres de l’esprit au sens de l’article L 112-2 du Code de la Propriété Intellectuelle et sont protégées par le droit d’auteur. Toute violation des dispositions légales engagerait votre seule responsabilité. </p></div>
                <div>
                    <h3>
                        Article 11– Evolution des livrables – droit de priorite</h3>
                    <p>Dans un souhait de prolonger la relation contractuelle, vous vous engagez à nous proposer en priorité la réalisation des évolutions des livrables fournis dans le cadre de la relation contractuelle, en nous indiquant par écrit les caractéristiques précises de l’évolution envisagée. En cas de demande écrite par vos soins concernant la réalisation d’une évolution, nous sommes tenus dans les 30 jours ouvrables de la réception de la demande d’évolution envisagée, de vous proposer un devis. A défaut de recevoir notre réponse dans ce délai ou à défaut d’accord entre nous sur le devis, vous aurez toute liberté de contracter avec un tiers de votre choix.</p>
                </div>
                <div>
                    <h3>Article 12 – Prestations d’achat d’espaces publicitaires</h3>
                    <p>12.01. Achat d’espaces publicitaires</p>
                    <p>Parmi les prestations proposées par Le Hibou qui Geek, vous pourrez nous donner mandat de négocier et d’acheter des espaces publicitaires dans les différents média et supports afin d’assurer la diffusion de votre matériel publicitaire et la redirection des destinataires de la publicité vers votre site internet.</p>
                    <p>Sur la base du plan média et préalablement à tout achat d’espace, nous établirons, un devis comprenant :</p>
                    <ul>
                        <li>L’état des réservations d’espaces détaillé par support et insertion</li>
                        <li>Un calendrier des investissements média par mois de parution ou de diffusion. </li>
                        <li>Une estimation budgétaire des remises accordées par les supports utilisés, calculée sur la base des volumes que vous engagerez. </li
                    </ul>
                    <p>Vous nous retournerez un exemplaire signé de l’état de réservation des espaces et ce, dans un délai suffisant pour que nous puissions effectuer les réservations définitives auprès des différents supports. En aucun cas, nous ne pourrons nous engager pour votre compte sans votre accord préalable écrit sur l’état de réservations (par le biais d’un bon de commande). La durée de la prestation sera fixée au devis ou au bon de commande. Vous vous engagez à fournir un matériel publicitaire de qualité, conforme aux usages et aux standards de votre profession et vous vous engagez à faire vos meilleurs efforts pour fournir une information fiable, complète, et la plus récente possible. Nous ne pourrons en aucun cas être tenus pour responsables en cas de mauvaise qualité ou d’absence de parution due au support, non plus que des résultats obtenus en termes d’audience et de contacts dès lors que nous aurions rempli toutes les obligations mises à notre charge. Vous vous engagez en outre à fournir un contenu licite, conforme aux lois en vigueur et notamment à la législation relative à la publicité ainsi qu’à la charte des bonnes pratiques de la publicité en ligne de 2015. Nous vous tiendrons informé des conditions dans lesquelles vos messages publicitaires auront été diffusés. Notre rémunération sera fixée au devis ou au bon de commande. Vous règlerez directement les achats d’espace passés sur la base des factures émises par les supports, dont copie nous sera simultanément adressée par le support ou bien nous règlerons au nom et pour votre compte les factures émises par les supports dont copie sera jointe à notre facture. Le vendeur d’espace publicitaire vous adressera également copie de la facture conformément à la loi.</p>
                </div>
                <div>
                    <div>
                        <h3>Article 13 – Propriété intellectuelle</h3>
                        <p>13.01. Eléments de propriété intellectuelle fournis par le Client. </p>
                        <p>Concernant les éléments que vous fournissez protégés par un droit de propriété intellectuelle, ils demeurent votre propriété exclusive.  Vous déclarez disposer de tous les droits et/ou autorisations nécessaires, et vous nous garantissez contre toute réclamation éventuelle d’un tiers qui prétendrait avoir un droit de propriété intellectuelle sur l’un quelconque des éléments fournis par vos soins notamment de tous textes, images, logos, graphiques, photos, films audio ou vidéo, fichiers, logiciels, bases de données. .</p>
                    </div>
                    <div>
                        <p>13.02. Eléments de propriété intellectuelle fournis par Le Hibou qui Geek</p>
                        <p>Tous les éléments préexistant à la prestation de service fournis par Le Hibou qui Geek protégés par un droit de propriété intellectuelle demeurent notre propriété exclusive et nous nous réservons le droit de revendre ou d’utiliser tout ou partie de nos créations. Les créations (graphique, contenu, etc.) restent notre propriété. Nous pourrons, le cas échéant vous céder un droit d’exploitation de manière exprès et non équivoque. Vous n’acquérez aucun droit sur les outils, méthodes, bases de données et savoir-faire utilisés par nos soins dans le cadre de la relation contractuelle.</p>
                    </div>
                    <div>
                        <p>13.03. Eléments résultant de la co-création</p>
                        <p>Nous convenons ensemble que nous sommes co-titulaires indivis des droits de propriété intellectuelle, et en particulier des droits d’auteur, attachés à l’ensemble des Travaux résultant de la co-création dans le cadre des missions confiées au devis. Les Travaux sont entendus de tous livrables et notamment livres blancs, études, créations, maquettes, dessins, visuels clés, dénominations, logos, site internet, slogans, campagnes publicitaires. Nous nous concédons mutuellement, pour notre part de propriété sur les Travaux, à titre gracieux et pour le monde entier et pour toute la durée de protection légale des droits de propriété intellectuelle telle que découlant des législations françaises et étrangères et des conventions internationales sur la propriété littéraire et artistique ou autres qui sont ou seront en vigueur, y compris les prolongations qui pourraient être apportées à cette durée de la protection, les droits de propriété intellectuelle que nous pouvons détenir sur les Travaux sauf disposition particulière spécifiée au devis ou au bon de commande. Nous vous autorisons à déposer les dénominations trouvées en collaboration dans le cadre du projet à titre de marque. En raison des droits indivis que nous avons sur les travaux, vous vous engagez à solliciter nos services pour toute création d’une œuvre dérivée des Travaux.</p>
                    </div>
                    <div>
                        <p >13.04. Réserve de propriété</p>
                        <p>Les droits d’exploitation visés à l’article 13.03 ci-avant ne vous seront concédés qu’à compter du paiement effectif intégral du prix convenu au devis ou bon de commande. </p>
                    </div>

                    <div>
                        <h3>
                            Article 14 – Confidentialité</h3>
                        <p>Nous nous engageons réciproquement à mettre en œuvre les moyens appropriés pour garder le secret le plus absolu sur les informations et documents désignés comme confidentiels par l’autre partie, et auxquels elle aurait eu accès à l’occasion de l’exécution de la relation contractuelle. Nous nous engageons réciproquement à faire respecter cette obligation par nos collaborateurs, société-mère, filiale et sous-traitants éventuels. Tout échange d’informations confidentielles sera effectué par écrit signé de la partie qui aura reçu des pièces aux informations confidentielles. L’obligation de confidentialité continuera pendant une durée de 12 mois après l’expiration de la relation contractuelle. Elle deviendra caduque si l’information désignée comme confidentielle tombe dans le domaine public, est révélée au public par la partie qui l’avait désignée comme confidentielles ou par un tiers quelconque mais en dehors de toute intervention de la partie qui aura reçu l’information.</p>
                    </div>
                    <div>
                        <h3>
                            Article 15 – Non-sollicitation du personnel du Hibou qui Geek</h3>
                        <p>Vous vous engagez à ne pas embaucher, tenter d’embaucher ou faire travailler directement ou indirectement tout collaborateur du Hibou qui Geek quel que soit son statut durant l’exécution du présent contrat et 12 (douze) mois à compter de la fin de la relation contractuelle. En cas de non-respect des stipulations précédentes, vous serez tenu de nous payer immédiatement, à titre de clause pénale, une indemnité forfaitaire d’un montant égal à 12 (douze) fois le dernier salaire brut mensuel de la personne sollicitée ou embauchée, majorée de tous les frais de recrutement d’un remplaçant. </p>
                    </div>
                    <div>
                        <h3>
                            Article 16 – Référence au client</h3>
                        </p>Sauf interdiction expresse de votre part, nous sommes autorisés à mentionner votre nom et à reproduire vos marques et/ou signes distinctifs sur nos propres supports de communication et à nous prévaloir des prestations que nous vous avons fournies ainsi que les livrables réalisés dans le cadre de la relation contractuelle afin de promouvoir notre propre activité.Nous nous réservons la possibilité d’insérer sur votre site web un hyperlien renvoyant vers le site www.hibou.helvie.fr .</p>
                    </div>
                    <div>
                        <h3>
                            Article 17 – Responsabilité – assurance</h3>
                        <p>17.01. Délais de livraison</p>
                        <p>Les parties s’engagent à faire tout leur possible pour effectuer leurs livraisons respectives dans les délais annoncés. En cas de retard de livraison d’une des parties, nous nous engageons réciproquement, en toute bonne foi, à respecter notre obligation dans les meilleurs délais afin de tenir au mieux le calendrier des livraisons.</p>
                    </div>
                    <div>
                        <p>
                            17.02. Responsabilité des contenus</p>
                        <p>Nous ne saurions être tenus pour responsable des contenus que vous nous transmettez, qui pourraient être préjudiciables à des tiers, en France ou dans un pays étranger.Vous vous engagez à vous substituez en garantie en cas de procès intenté en raison d’un contenu jugé illicite ou attentatoire aux droits des tiers, tant pour les éventuelles indemnités que pour les frais de procédure (y compris les honoraires des avocats) et dépens. </p>
                    </div>
                    <div>
                        <p>
                            17.03. Responsabilité pour les dommages commerciaux</p>
                        Nous ne saurions être tenu pour responsable ni des dommages indirects, tels que, notamment, manque à gagner ou pertes de marché ou baisse du chiffre d’affaires trouvant leur origine ou étant la conséquence de la relation contractuelle, ni les dommages causés à des personnes ou à des biens distincts de l’objet de la relation contractuelle. En tout état de cause, toute action à notre encontre en recherche indemnitaire directe ou indirecte, sur un fondement notamment contractuel ou délictuel, à l’occasion de la formation, de l’exécution, de l’inexécution, de l’interprétation, de la prorogation, de la résiliation, de la fin ou en rapport d’une manière quelconque avec les présentes, ne peut excéder dans son quantum le montant hors taxes facturé que nous vous aurons facturé au titre de la relation contractuelle.</p>
                    </div>
                    <div>
                        <p>
                            17.04. Assurance</p>
                        <p>Nous nous engageons mutuellement à souscrire une assurance couvrant notre responsabilité professionnelle et à le justifier auprès de l’autre partie sur simple demande.</p>
                    </div>
                    <div>
                        <p>
                            17.05. Force majeure</p>
                        <p>Nous ne sommes pas responsables pour tout retard, inexécution ou dommages dus à des cas de force majeure ou des cas fortuits.</p>
                    </div>
                    <div>
                        <h3>Article 18 – Résiliation</h3>
                        <p>En cas de manquement grave de l’une ou l’autre des parties aux obligations du présent contrat non réparé dans un délai de 30 (trente) jours à compter de la lettre recommandée avec accusé de réception notifiant ledit manquement, le présent contrat sera résilié de plein droit sans préjudice des dommages et intérêts dont les parties pourraient prétendre. Le fait pour une des parties de ne pas se prévaloir d’un manquement par l’autre partie à l’une quelconque des obligations visées dans les présentes ne saurait être interprété pour l’avenir comme une renonciation à l’obligation en cause .</p>
                    </div>
                    <div>
                        <h3>
                            Article 19 – Informatique et libertés</h3>
                        <p>Vous reconnaissez expressément, et acceptez, qu’Le Hibou qui Geek collecte et archive des informations vous concernant. Les informations ainsi collectées sont obligatoires pour permettre la gestion des Conditions Générales. Ces informations ne sont destinées qu’à Le Hibou qui Geek, responsable du traitement. Vous pouvez à tout moment exercer votre droit d’accès, de modification et d’opposition dans les conditions prévues par la loi du 6 janvier 1978 modifiée par la loi du 6 août 2004 auprès de Le Hibou qui Geek, à l’adresse figurant sur les présentes. Le droit d’accès et de rectification s’exerce exclusivement par lettre recommandée adressée à Le Hibou qui Geek – Gabriel 2 Informatique et Liberté – 39 rue Palestro 75002 Paris.
                            Toutefois, il vous revient en tant que responsable de traitement d’entreprendre les démarches nécessaires prévues relatives aux traitements des données personnelles. </p>
                    </div>
                    <div>
                        <h3>
                            Article 20– Dispositions générales</h3>
                        <p>20.01. Sous-traitance – circulation du contrat</p>
                        <p>Nous pourrons sous-traiter tout ou partie de la prestation objet de la relation contractuelle. Nous restons vis-à-vis de vous responsable des prestations réalisées par le sous-traitant. La relation contractuelle ne pourra faire l’objet d’une cession totale ou partielle, à titre onéreux ou gratuit de votre part, sans autorisation préalable écrite et expresse du Le Hibou qui Geek. Nous nous réservons le droit de céder le bénéfice des présentes à toute personne morale de notre choix.</p>
                    </div>
                    <div>
                        <p>20.02. Non renonciation</p>
                        </p>Le fait pour l’une ou l’autre des Parties de ne pas invoquer l’un quelconque des articles, clauses, stipulations ou parties des Conditions générales ne saurait, en aucune manière, être interprété comme une renonciation tacite à se prévaloir dudit article, clause, stipulation ou partie des Conditions générales. De même, le fait pour l’une des Parties de ne pas se prévaloir de l’inexécution, de la mauvaise exécution ou de l’exécution partielle ou tardive de l’un quelconque des articles, clauses, stipulations ou parties des Conditions Générales par une autre Partie ne saurait, en aucune manière, être interprété comme une renonciation tacite à s’en prévaloir ultérieurement.</p>
                    </div>
                    <div>
                        <p>
                            20.03. Comportement loyal et de bonne foi</p>
                        Chacune des Parties s’engage à toujours se comporter, vis-à-vis de l’autre Partie, comme un partenaire loyal et de bonne foi et, notamment, à notifier sans délai à l’autre Partie, tout différend ou toute difficulté qu’elle pourrait rencontrer dans le cadre de l’exécution de la relation contractuelle.</p>
                    </div>
                    <div>
                        <p>
                            20.04. Nullité partielle</p>
                        <p>Si l’un quelconque des stipulations des Conditions Générales étaient déclarée nulle au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue définitive, elle sera réputée non écrite, mais les autres stipulations garderont toute leur force et leur portée. </p>
                    </div>
                    <div>
                        <p>20.05. Intitulé des articles</p>
                        <p>Les Parties précisent ici que les intitulés des articles ont été choisis par pure commodité et doivent être considérés comme sans effet sur leur validité, leur interprétation et/ou les conditions d’exécution de leurs stipulations.</p>
                    </div>
                    <div>
                        <p>20.06. Intégralité des dispositions contractuelles</p>
                        <p>Toutes déclarations, négociations, engagements, communications orales ou écrites, acceptations, ententes conclus entre les Parties antérieurement à la date de prise d’effet des Conditions générales, que ce soit par écrit ou non, et portant sur le même objet sont annulés et remplacés en toutes leurs stipulations par les Conditions générales. Les Conditions générales et le devis accepté constituent l’intégralité des termes de l’accord intervenu entre vous et Le Hibou qui Geek. .</p>
                    </div>
                    <div>
                        <p>
                            20.07. Election de domicile
                            Pour l’exécution des Conditions générales ainsi que de ses suites, les Parties font respectivement élection de domicile aux adresses mentionnées au devis. Toute modification du siège social ou de l’adresse de l’une des Parties ne sera opposable aux autres Parties que 15 (quinze) jours après que cette modification lui ait été dûment notifiée.</p>
                    </div>
                    <div>
                        <p>20.08. Loi applicable et attribution de compétence</p>
                        <p>La validité, l’interprétation, l’exécution des Conditions Générales et la résolution de tout litige s’y rapportant sont régies et interprétées au regard du droit français. Tout litige relatif à la validité, l’interprétation, l’application (en ce compris son inexécution partielle ou totale et/ou son exécution tardive), la résiliation (ainsi que leurs conséquences et suites), du Contrat sera soumis à la compétence du Tribunal de commerce de Paris (75). Cette stipulation est applicable en ce compris en cas de demande incidente, d’appel en garantie et/ou en cas de pluralité de défendeurs, le cas échéant.</p>
                    </div>




                    {#</div>#}

        </div>

    </div>

{% endblock %}


