{% extends 'base.html.twig' %}

{% block title %}Mentions légales et données personnelles{% endblock %}


{% block content %}


    <div class="section yellowBlock section-our-team">
        <!--<div class="text-area">-->
        <h2>Mentions légales et données personnelles</h2>
        <div class="separator separator-danger">♦</div>

    </div>
    <div class="team mentions">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align:justify;margin-bottom:70px;">

                {#<div class="container mentions">#}

                <div>

                <h3>Article 1 – Mentions légales<h3>
                        <p style="font-weight:bold;">Editeur</p>
                        <p>L’édition du site www.hibou.helvie.fr est assurée par la société Le Hibou Qui Geek, société à responsabilité limitée au capital de 12.000 euros immatriculée au RCS de Paris sous le numéro 123 456 789, ayant pour numéro SIRET 123 456 789 00024, dont le siège social se situe 92 avenue des champs Elysées – 75018 Paris , n° TVA Intracommunautaire FR64 400 400 100, code NAF : 7022Z</p>
                        <p>Courrier électronique : lehibouquigeek@gmail.com</p>
                        <p>Tél : 06 07 08 09 10</p>
                        <p>Directeur de la Publication : Gérard Géroux, Gérant</p>
                        <p style="font-weight:bold;">Hébergeur</p>
                        <p>L’hébergeur du site www.hibou.helvie.fr est la société OVH, dont le siège social est 2 rue Kellermann, 59100 Roubaix, France, imatriculé au  RCS Lille Métropole 424 761 419 00045
                            Code APE 6202A - N° TVA : FR 22 424 761 419</p>
                        <p>Courrier électronique : cil@ovh.net</p>
                        <p>Représentée par son représentant légal : Octave KLABA</p>
            </div>
            <div>

                <h3>Article2 – Données personnelles </h3>

                <p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers, et aux libertés et au règlement n°2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, tout traitement des informations personnelles communiquées au travers du site www.hibou.helvie.fr est effectué sous notre responsabilité, à savoir la responsabilité de la société Le Hibou Qui Geek, société à responsabilité limitée au capital de 12.000 euros immatriculée au RCS de Paris sous le numéro 123 456 789, ayant pour numéro SIRET 123 456 789 00024, dont le siège social se situe 92 avenue des champs Elysées – 75018 Paris, en sa qualité de responsable du traitement des données personnelles.  </p>

                <p>Les données que nous collectons au moment de la création de votre compte sont les suivantes : nom, prénom, adresse mail, mot de passe. </p>

                <p>L’utilisation du compte permet de renseigner un profil pouvant également comprendre : adresse physique, fonction, projet. </p>
                <p>En cas de commande de contenus payants, les informations relatives aux cartes de crédit ou de débit (telles que le type de carte et la date d’expiration) ainsi que les autres données financières dont nous avons besoin pour traiter votre paiement peuvent être recueillies. </p>
                <p>Ces données sont collectées pour les finalités suivantes : </p>
                <ul>
                    <li>Accès par vos soins à des contenus en ligne</li>
                    <li>Prospection de clientèle<li>
                    <li>Envoi d’informations commerciales, de fidélisation<li>
                    <li>Gestion des commandes<li>
                    <li>Facturation<li>
                    <li>Elaboration de statistiques commerciales anonymisées<li>
                </ul>
                <p>Les données personnelles que nous collectons et traitons ne sont conservées que pour la durée strictement  nécessaire au regard des finalités précédemment exposées. En particulier, les données de votre compte seront conservées pendant 5 années à compter de la fin de nos relations contractuelle étant précisé que le délai commence à partir soit à compter de la dernière commande soit à compter de la dernière connexion à votre compte.</p>
                <p>Les données relatives aux prospections commerciales seront conservées jusqu’à la fin du service ou jusqu’à ce que vous vous désabonniez en cliquant sur le lien « se désabonner ». </p>
                <p>Dans l’hypothèse où vous consentez à communiquer des données individuelles à caractère personnel, vous disposez d’un droit individuel d’accès, d’interrogation, de modification, de rectification, de suppression et d’opposition de ces données à caractère personnel. De même, vous pourrez demander une limitation du traitement ou vous opposer à la portabilité des données. De même, vous pourrez demander une limitation du traitement ou vous opposer à la portabilité des données. </p>
                <p>Vous disposez en votre qualité d’utilisateur des droits suivants : </p>
                <ul>
                    <li>Mettre à jour les données qui vous concernent en vous connectant à votre compte et en configurant les paramètres de ce compte</li>
                    <li>Supprimer votre compte, en écrivant à l’adresse électronique suivante : lehibouquigeek@gmail.com</li>
                    <li>Exercer votre droit d’accès, pour connaître les données personnelles vous concernant, en écrivant à l’adresse électronique suivante : lehibouquigeek@gmail.com. Dans ce cas, avant la mise en œuvre de ce droit, nous pouvons vous demander une preuve de votre identité afin d’en vérifier l’exactitude </li>
                </ul>
                <p>Vous pourrez nous communiquer des directives particulières dans lesquelles vous définissez la manière dont vous entendez que soient exercés, après votre décès, vos droits en matière de protection des données personnelles.</p>
                <p>Vous devrez adresser toute demande écrite à l’adresse postale suivante  Le Hibou Qui Geek, 92 avenue des Champs Elysées, 75018 Paris ou : adresse électronique suivante lehibouquigeek@gmail.com. </p>
                <p>Nous nous engageons à prendre des précautions techniques afin de préserver la sécurité des données à caractère personnel et empêcher qu’elles ne soient déformées, endommagées ou communiquées à des tiers non autorisés. </p>
                <p>Nous nous réservons le droit d’apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, nous nous engageons à publier la nouvelle version sur notre site. Nous vous informerons également de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d’effet. Si vous n’êtes pas d’accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, vous aurez la possibilité de supprimer votre compte. </p>
                    </div>
                <div>


                <h3>Article 3 – Informations relatives aux cookies </h3>

                <p>Un cookie est un fichier qui est téléchargé sur votre terminal (ordinateur, smartphone, tablette…) lorsque vous consultez certains sites web. Les cookies permettent notamment à ces sites web de stocker et de récupérer des informations concernant les habitudes de navigation de l’utilisateur d’un site ou de son équipement puis, en fonction de ces informations, de le reconnaître.</p>

                <p>Toutefois, les données obtenues sont restreintes. Elles concernent uniquement le nombre de pages visitées, la ville où est localisée l’adresse IP de connexion au site web, la fréquence et la récurrence des visites, la durée de la visite, le navigateur, l’opérateur ou le type de terminal à partir duquel la visite est effectuée. Des données telles que le nom, le prénom de l’utilisateur ou l’adresse postale de connexion ne sont, en aucun cas, obtenues.</p>

                <p>Les cookies utilisés sont strictement réservés au bon fonctionnement du Site et de la Plateforme, en permettant au Prestataire de proposer des offres commerciales ou de permettre celles de sociétés tierces partenaires.</p>

                <p>Cette catégorie de cookies concerne le «retargeting publicitaire» (lien vers d’autres réseaux ou plateformes internet), les analyses d’audience, et l’affiliation avec des partenaires éventuels.</p>

                <p>L’Utilisateur admet pleinement que son acceptation des CGU du Prestataire emporte acceptation de la présente politique de confidentialité, ainsi que son consentement à ce procédé, et à la réception desdites offres commerciales éventuelles. L’Utilisateur peut à tout moment refuser l’implantation de ces cookies sur son terminal en utilisant les paramètres de son navigateur internet (options de confidentialité et préférences) ou un/des outil(s) informatiques adéquats, sous diverses formes communément accessibles (entre autres modules, applications, logiciels, etc.).</p>

                <p>L’Utilisateur admet pleinement dans ce cas exclure la responsabilité du Prestataire en cas de difficulté ou d’impossibilité de naviguer sur le Site ou d’utiliser la Plateforme.</p>

            </div>


            {#</div>#}

        </div>

    </div>
    </div>

{% endblock %}


