{% extends 'base.html.twig' %}



{% block title %}Notre agence{% endblock %}



    {% block content %}

        <div class="section section-our-projects yellowBlock">
            <h1>Notre histoire</h1>
            <div class="title-area" style="margin-bottom:0px">
                <h2>Il était une fois...</h2>

            <div class="separator separator-danger">♦</div>


        <div class="description divDescription" style="text-align:justify">
                <p>
                    Tout a commencé avec l’appel au secours de Mamie Jeanine
                </p>
                <p>
                    Nous avons tous des parents ou grands parents qui sont ont des difficultés à naviguer sur le web. Et bien chez nous, c’est Mamie Jeanine… Elle n’arrive jamais à commander ce qu’elle veut… Et ce jour là, elle voulait s’acheter un énième hibou en bois pour sa collection…
                </p>
                <p>
                    Le constat est venu de là… comme mamie Jeanine, un grand nombre de personnes ne peuvent pas être autonomes sur le web, publicité envahissante, UX design mal pensé, couleurs et tailles inadaptées… Nous ne voulons pas aider uniquement notre mamie adorée mais rendre accessible le web au plus grand nombre… Et le hibou naquit…
                </p>
            </div>
        </div>
        </div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ L'EQUIPE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}


    <div class="section whiteBlock section-our-team" style="padding-bottom:0;">
        <div class="container">
            {#<div class="text-area">#}
                <div class="title-area">
                    <h2>L’équipe qui geek</h2>
                </div>
            {#</div>#}
            <div class="team"  style="text-align:center;">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">

                                <!--<div id="card1">-->

                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="margin:auto;">
                                        <div class="flipper">
                                            <div class="card front cardFront card-member card-plain">
                                                <div class="content"  style="margin:auto;">
                                                    <div class="avatar avatar-danger">
                                                        <img alt="Photo de Joal marketing" class="img-circle" src="../assets/img/persons/photoJoal.png" />
                                                    </div>
                                                    <div class="description">
                                                        <h3 class="big-text">Joal</h3>
                                                        <p class="authorMail small-text" style="margin-bottom:0;">Responsable Marketing</p>
                                                        <p class="authorMail small-text" style="margin-top:0;">#produmarketing</p>
                                                        <p class="small-text">"Marketeuse un jour, marketeuse toujours !"</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card back cardBack card-member card-plain">
                                                <div class="content">
                                                    <div class="description">
                                                        <h3 class="big-text mobileHide">Joal</h3>
                                                        <p class="small-text mobileHide">Responsable marketing</p>
                                                        <p class="small-text" style="font-size:17.5px">Toujours à l’affût des nouvelles tendances marketing, j’aime proposer une stratégie personnelle afin de sublimer l’identité de chaque entreprise. Les campagnes paid’Ads et les réseaux sociaux n’ont plus de secret pour moi. Ensemble, nous relèverons les défis qui vous attendent !</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper">
                                        <div class="card front cardFront card-member card-plain">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="Photo d'Emmanuelle design" class="img-circle" src="../assets/img/persons/photoEmma.jpg" />
                                                </div>
                                                <div class="description">
                                                    <h3 class="big-text">Emmanuelle</h3>
                                                    <p class="authorMail small-text" style="margin-bottom:0;">Design</p>
                                                    <p class="authorMail small-text" style="margin-top:0;">#specialistedudesign</p>
                                                    <p class="small-text">"Je n'ai pas vu l'heure passer pourtant je surveillais"</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card back cardBack card-member card-plain">
                                            <div class="content">
                                                <div class="description">
                                                    <h3 class="big-text mobileHide">Emmanuelle</h3>
                                                    <p class="small-text mobileHide">Design</p>
                                                    <p class="small-text" style="font-size:17.5px">xxx</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper">
                                        <div class="card front cardFront card-member card-plain">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="Photo de Sylvie développement" class="img-circle" src="../assets/img/persons/photoSylvie.jpg" />
                                                </div>
                                                <div class="description">
                                                    <h3 class="big-text">Sylvie</h3>
                                                    <p class="authorMail small-text" style="margin-bottom:0;">Développeuse</p>
                                                    <p class="authorMail small-text" style="margin-top:0;">#topdudev</p>


                                                    <p class="small-text">"Développer, c'est rendre un rêve réel."</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card back cardBack card-member card-plain">
                                            <div class="content">
                                                <div class="description">
                                                    <h3 class="big-text mobileHide">Sylvie</h3>
                                                    <p class="small-text mobileHide">Développeuse</p>
                                                    <p class="small-text" style="font-size:17.5px">Passionnée par les nouvelles technologies, émerveillée par la magie qui s’opère lorsqu'un navigateur traduit les lignes de codes, soucieuse du bien-être de l’internaute, j'utilise des technologies fiables , telles que Symfony, assurant ainsi une parfaite sécurité à chacun de mes projets.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ QUELQUES CHIFFRES CLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <div class="beigeBlock section section-card-blog">
        <div class="container">
            <div class="title-area">
                <h2>Quelques chiffres clés en 2018</h2>
            </div>

            <div class="team2 divServiceBlock">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 serviceBlock">
                                <div class = "imgService">
                                    <img src="../assets/img/logo4.png" alt="" class="image-header">
                                </div>

                                <p style="font-size:40px">15</p>
                                <p>Identités visuelles crées ou refondées</p>

                            </div>

                            <div class="col-md-4 col-sm-6 serviceBlock">
                                <div class = "imgService">

                                    <img src="../assets/img/logo5.png"  alt="" class="image-header">
                                </div>
                                <p style="font-size:40px">8</p>
                                <p>Sites réalisés</p>
                            </div>

                            <div class="col-md-4 col-sm-6 serviceBlock">
                                <div class = "imgService">

                                    <img src="../assets/img/logo6.png" class="image-header">
                                </div>
                                <p style="font-size:40px">19</p>
                                <p>Sites audités</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}



    {% endblock %}
