{% extends 'base.html.twig' %}


{% block title %}Nos services{% endblock %}


    {% block content %}


    <div class="section yellowBlock section-our-team">
        {#<div class="container">#}
            <!--<div class="text-area">-->
            <h1>Nos services</h1>

            <div class="title-area">
                    <h2>Pourquoi nous choisir ?</h2>
                    <div class="separator separator-danger">♦</div>

                </div>
            <!--</div>-->
            <div class="team2 divServiceBlock">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">


                            <div class="col-md-4 col-sm-6 serviceBlock">
                                <div class = "imgService">

                                    <img src="../assets/img/logo2.png" class="image-header">
                                </div>
                                <p>Dotés d’une forte culture du résultat, nous appliquons des process sécurisés et nous vous offrons un niveau de service irréprochable.</p>
                            </div>
                            <div class="col-md-4 col-sm-6 serviceBlock">
                                <div class = "imgService">
                                <img src="../assets/img/logo1.png" class="image-header">
                                </div>

                                <p>Nous vous accompagnons dans la stratégie digitale globale de votre projet. Toujours à votre écoute, nous nous adaptons à vos envies et vos besoins.</p>
                            </div>


                            <div class="col-md-4 col-sm-6 serviceBlock">
                                <div class = "imgService">

                                <img src="../assets/img/logo3.png" class="image-header">
                                </div>
                                <p>Pour votre projet digital, l’approche agile est une stratégie utilisée par notre agence, qui sera un atout pour votre réussite.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end team -->
        {#</div>#}
    </div>


<div class="section whiteBlock specialization">
    <div class="container">
        <div>
            <div class="title-area">
                <h2>Notre savoir faire</h2>
            </div>
        </div>

        <div class="team speDiv">

            <div class="col-md-12">


                    <div class="row generalSpeBlock">

                        <div>

                            <div class="col-md-3 col-sm-4">
                                <img src="../assets/img/imgMark.png" class="imgService markOpen image-header link">
                            </div>

                            <div class="col-md-3 col-sm-4">
                                <img src="../assets/img/imgDev.png" class="imgService devOpen image-header link">
                            </div>

                            <div class="col-md-3 col-sm-4">
                                <img src="../assets/img/imgDesign.png" class="imgService designOpen image-header link">
                            </div>

                            <div class="col-md-3 col-sm-4">
                                <img src="../assets/img/imgAudit.png" class="imgService auditOpen image-header link">
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12 market">
                    <div class="row">
                        <div class="col-md-10 ">
                            <h2>Digital marketing</h2>
                        </div>
                        <div class="col-md-2 speClose link">
                            <a class="glyphicon glyphicon-minus"></a>
                        </div>
                    </div>



                            <div class="row">
                            <div class="col-md-4 speDescriptive">
                                <img src="../assets/img/speMark1.png" class="markImg markImg2 image-header">
                            </div>

                            <div class="col-md-4 speDescriptive">
                                <img src="../assets/img/speMark2.png" class="markImg markImg2 image-header">
                            </div>

                            <div class="col-md-4 speDescriptive">
                                <img src="../assets/img/speMark3.png" class="markImg image-header">
                            </div>

                        </div>

                    </div>

                <div class="col-md-12 dev">
                    <div class="row">
                        <div class="col-md-10 col-sm-12 speTitle">
                            <h2>Développement</h2>
                        </div>
                        <div class="col-md-2 col-sm-12 speClose link">
                            <a class="glyphicon glyphicon-minus"></a>
                        </div>
                    </div>

                        <div class="row">

                            <div class="col-md-4 speDescriptive">
                                <img  src="../assets/img/speDev1.jpg" class="devImg image-header">
                            </div>

                            <div class="col-md-4 speDescriptive">
                                <img src="../assets/img/speDev2.jpg" class="devImg image-header">
                            </div>

                            <div class="col-md-4 speDescriptive">
                                <img src="../assets/img/speDev3.jpg" class="devImg image-header">
                            </div>

                        </div>

                    </div>

                <div class="col-md-12 design">
                    <div class="row">
                        <div class="col-md-10 ">
                            <h2>Digital design</h2>
                        </div>
                        <div class="col-md-2 speClose link">
                            <a class="glyphicon glyphicon-minus"></a>
                        </div>
                    </div>

                        <div class="row">

                            <div class="col-md-4 speDescriptive">
                                <img  src="../assets/img/fullImg7.png" class="designImg image-header">
                            </div>

                            <div class="col-md-4 speDescriptive">
                                <img src="../assets/img/fullImg8.png" class="designImg image-header">
                            </div>

                            <div class="col-md-4 speDescriptive">
                                <img src="../assets/img/fullImg9.png" class="designImg image-header">
                            </div>

                        </div>

                    </div>

                <div class="col-md-12 audit">
                    <div class="row">
                        <div class="col-md-10 ">
                            <h2>Audit</h2>
                        </div>
                        <div class="col-md-2 speClose link">
                            <a class="glyphicon glyphicon-minus"></a>
                        </div>
                    </div>

                        <div class="row">

                            <div class="col-md-6 speDescriptive" style="text-align:center;">
                                <img  src="../assets/img/speAudit1.png" class="auditImg image-header">
                            </div>

                            <div class="col-md-6 speDescriptive" style="text-align:center;">
                                <img src="../assets/img/speAudit2.png" class="auditImg image-header">
                            </div>

                        </div>

                    </div>

                <div class="col-md-12 text-center" style="height:50px;">
                        <a  aria-label="Lien vers la page de contact" class="btn btn-fill btn-owl"  href={{ path('owlContactDisplay')}}#contactAnchor>
                            Je prends rendez-vous
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
