{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}


{% block content %}


    <div class="section yellowBlock section-our-team">
        <!--<div class="text-area">-->
        <h2>RGPD</h2>
        <div class="separator separator-danger">♦</div>

    </div>
    <div class="team mentions"  style="text-align:center;margin-top:50px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align:justify;margin-bottom:70px;">

                {#<div class="container mentions">#}

                    <p>Qu’est-ce qu’un cookie ?</p>

                    <p>Un cookie est un fichier qui est téléchargé sur votre terminal (ordinateur, smartphone, tablette…) lorsque vous consultez certains sites web. Les cookies permettent notamment à ces sites web de stocker et de récupérer des informations concernant les habitudes de navigation de l’utilisateur d’un site ou de son équipement puis, en fonction de ces informations, de le reconnaître.</p>

                    <p>Toutefois, les données obtenues sont restreintes. Elles concernent uniquement le nombre de pages visitées, la ville où est localisée l’adresse IP de connexion au site web, la fréquence et la récurrence des visites, la durée de la visite, le navigateur, l’opérateur ou le type de terminal à partir duquel la visite est effectuée. Des données telles que le nom, le prénom de l’utilisateur ou l’adresse postale de connexion ne sont, en aucun cas, obtenues.</p>

                    <p>Les cookies utilisés sont strictement réservés au bon fonctionnement du Site et de la Plateforme, en permettant au Prestataire de proposer des offres commerciales ou de permettre celles de sociétés tierces partenaires.</p>

                    <p>Cette catégorie de cookies concerne le «retargeting publicitaire» (lien vers d’autres réseaux ou plateformes internet), les analyses d’audience, et l’affiliation avec des partenaires éventuels.</p>

                    <p>L’Utilisateur admet pleinement que son acceptation des CGU du Prestataire emporte acceptation de la présente politique de confidentialité, ainsi que son consentement à ce procédé, et à la réception desdites offres commerciales éventuelles. L’Utilisateur peut à tout moment refuser l’implantation de ces cookies sur son terminal en utilisant les paramètres de son navigateur internet (options de confidentialité et préférences) ou un/des outil(s) informatiques adéquats, sous diverses formes communément accessibles (entre autres modules, applications, logiciels, etc.).</p>

                    <p>L’Utilisateur admet pleinement dans ce cas exclure la responsabilité du Prestataire en cas de difficulté ou d’impossibilité de naviguer sur le Site ou d’utiliser la Plateforme.</p>

                </div>


            {#</div>#}

        </div>

    </div>

{% endblock %}
